<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
  </head>
  <body>
    {% include 'header.html'%} {%if error%}
    <div style="height: 65vh; display: flex; align-items: center; justify-content: center; flex-direction: column;">
      <h1 class="title has-text-danger" style="padding: 25px; text-align: center;">Error : {{error}}</h1>
      <a href="/" style="padding: 25px;">GO BACK HOME</a>
    </div>
    {% endif %}{% include 'footer.html'%}
  </body>
</html>
