<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
  </head>
  <body>
    {% include 'header.html'%} {%if error%}
    <h1 class="title has-text-danger">Error : {{error}}</h1>
    <a href="/">GO BACK HOME</a>
    {% endif %}{% include 'footer.html'%}
  </body>
</html>
