<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
</style>
<header class="navbar">
  <a href="/"><h1 class="title">A4 Flask</h1></a>
  {% if user_info %}
  <div class="links">
    <a href="/logout">Logout</a>
    {% if user_info and user_info[3] == 1 %}
    <a href="/export">Export</a>
    <a href="/projects">Projects</a>
    {% endif %}
  </div>
  {% else %}
  <div class="links">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>
  {% endif %}
</header>
