<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    {% include 'header.html'%}
    {%if projects %}
    <div style="padding-top: 20px;">
      <table class="table">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Project Number</th>
            <th>Project Location</th>
            <th>Department Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <form action="/update_project" method="post" class="form-inline">
              <td>
                <input
                  class="input"
                  type="text"
                  id="Pname"
                  name="Pname"
                  required
                  value="{{ project[0] }}"
                />
              </td>

              <td>
                <input
                  class="input"
                  type="text"
                  id="Pnumber"
                  name="Pnumber"
                  required
                  value="{{ project[1] }}"
                />
              </td>

              <td>
                <input
                  class="input"
                  type="text"
                  id="Plocation"
                  name="Plocation"
                  required
                  value="{{ project[2] }}"
                />
              </td>

              <td>
                <input
                  class="input"
                  type="number"
                  id="Dnum"
                  name="Dnum"
                  required
                  value="{{ project[3] }}"
                />
              </td>

              <td>
                <button class="button has-background-primary" type="submit">Save</button>
              </form>
              <form action="/delete_project" method="post" class="form-inline">
                    <input
                  type="hidden"
                  id="Pnumber"
                  name="Pnumber"
                  value="{{ project[1] }}"
                />
                <button class="button has-background-danger	" type="submit">Delete</button>
              </form>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    <div style="margin: 15px;">
     <h1 class="title">Add Project</h1>
      <form action="/add_project" method="POST">
        <label for="Pname">Project Name</label>
        <input class="input" type="text" id="Pname" name="Pname" required />

        <label for="Pnumber">Project Number</label>
        <input class="input" type="text" id="Pnumber" name="Pnumber" required />

        <label for="Plocation">Project Location</label>
        <input
          class="input"
          type="text"
          id="Plocation"
          name="Plocation"
          required
        />

        <label for="Dnum">Department Number</label>
        <input class="input" type="number" id="Dnum" name="Dnum" required />

        <button type="submit" class="button has-background-primary" style="margin-bottom: 25px; margin-top: 25px;">
          Add Project
        </button>
      </form>
    </div>
    {% include 'footer.html'%}
  </body>
</html>
